#
# Copyright (c) 2019, Digital Asset (Switzerland) GmbH and/or its affiliates. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
#

version: 2.1

executors:
  daml-executor:
    docker:
      - image: circleci/openjdk:11.0-jdk
  mvn-executor:
    docker:
      - image: circleci/openjdk:11.0-jdk
    resource_class: large
  docker_buildpack:
    docker:
      - image: circleci/buildpack-deps:xenial

only-release-tags: &only-release-tags
  filters:
    tags:
      only: /^v.*/
    branches:
      ignore: /.*/

commands:
  install_sdk:
    description: "Install the DAML SDK"
    parameters:
      version:
        type: string
    steps:
      - run:
          command: |
            ./scripts/install-daml.sh << parameters.version >>

jobs:
  mvn_test:
    parameters:
      daml_sdk_version:
        type: string
    executor: mvn-executor
    steps:
      - checkout
      - restore_cache:
          keys:
            - m2-{{ checksum "pom.xml" }}-{{ checksum "daml.yaml" }}
            - m2
      - install_sdk:
          version: << parameters.daml_sdk_version >>
      - run:
          command: |
            export PATH=${HOME}/.daml/bin:${PATH}
            mvn verify
      - save_cache:
          paths:
            - ~/.m2
            - ~/.daml
          key: m2-{{ checksum "pom.xml" }}-{{ checksum "daml.yaml" }}
      - store_test_results:
          path: target/surefire-reports
      - store_artifacts:
          path: target/surefire-reports
      - store_test_results:
          path: target/failsafe-reports
      - store_artifacts:
          path: target/failsafe-reports
      - run:
          name: Moving log files so they can be stored
          command: |
            mkdir logs
            mv *.log logs
          when: always
      - store_artifacts:
          path: logs
      - persist_to_workspace:
          root: target
          paths:
            - "*.jar"
            - "*.dar"
            - "lib"
            - "NOTICE"

  daml_test:
    parameters:
      daml_sdk_version:
        type: string
    executor: daml-executor
    steps:
      - checkout
      - restore_cache:
          keys:
            - daml-{{ checksum "daml.yaml" }}
      - install_sdk:
          version: << parameters.daml_sdk_version >>
      - run:
          command: |
            export PATH=${HOME}/.daml/bin:${PATH}
            daml build -o target/supplychain.dar
            daml test --junit target/daml-test-reports/daml-test.xml
      - save_cache:
          paths:
            - ~/.daml
          key: daml-{{ checksum "daml.yaml" }}
      - store_test_results:
          path: target/daml-test-reports
      - store_artifacts:
          path: target/daml-test-reports

  github_release:
    executor: docker_buildpack
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Push a new github release
          command: |
            ./scripts/release.sh ex-supply-chain

  blackduck_check:
    parameters:
      daml_sdk_version:
        type: string
    executor: daml-executor
    steps:
      - checkout
      - run: # idea from https://circleci.com/docs/2.0/env-vars/
          name: Setup Environment Variables
          command: |
            >> $BASH_ENV echo 'export PATH="$HOME/.daml/bin:$PATH"'
            >> $BASH_ENV echo 'export PATH="$HOME/.yarn/bin:$PATH"'
      - restore_cache:
          keys:
            - m2-{{ checksum "pom.xml" }}-{{ checksum "daml.yaml" }}
            - m2
      - install_sdk:
          version: << parameters.daml_sdk_version >>
      - save_cache:
          paths:
            - ~/.m2
            - ~/.daml
          key: m2-{{ checksum "pom.xml" }}-{{ checksum "daml.yaml" }}
      - run:
          name: Maven Build
          command: |
            mvn clean package
      - run:
          name: Install Yarn
          command: |
            sudo apt-get update || sudo apt-get update # workaround apt error "Could not open file /var..."
            curl -sL https://deb.nodesource.com/setup_14.x | sudo -E bash -
            sudo apt-get install -y nodejs
            curl -o- -L https://yarnpkg.com/install.sh | bash
      - run:
          name: Yarn Build
          command: |
            make build
            # recurse all directories with a package.json and run yarn install on them to resolve dependencies
            find . -type f \( ! -path '*node_modules*' \) -name package.json | while read hit ; do yarn install --cwd ERROR$(dirname "$hit") ; done
      - run:
          name: Run Blackduck Detect
          command: |
            bash <(curl -s https://raw.githubusercontent.com/DACH-NY/security-blackduck/master/synopsys-detect) \
            ci-build digitalasset_ex-supply-chain master \
            --logging.level.com.synopsys.integration=DEBUG \
            --detect.notices.report=true \
            --detect.report.timeout=1800
      - run:
          command: cp digitalasset_ex_supply_chain_master_Black_Duck_Notices_Report.txt NOTICE
      - persist_to_workspace:
          root: .
          paths:
            - "NOTICE"

workflows:
  version: 2
  build_and_test:
    jobs:
      - daml_test:
          daml_sdk_version: "1.2.0"
      - mvn_test:
          daml_sdk_version: "1.2.0"
          context: refapps
  long_blackduck_only_on_master:
    jobs:
       - blackduck_check:
          daml_sdk_version: "1.2.0"
          context: blackduck
          filters:
            branches:
              only:
                - master
                - ERA-847-ui # TODO remove after merge
                - fix-blackduck # TODO remove after merge
  build_and_release:
    jobs:
      - daml_test:
          <<: *only-release-tags
          daml_sdk_version: "1.2.0"
      - mvn_test:
          <<: *only-release-tags
          daml_sdk_version: "1.2.0"
          context: blackduck
      - github_release:
          context: github-refapp-repo-context
          requires:
            - daml_test
            - mvn_test
          <<: *only-release-tags
