#
# Copyright (c) 2019, Digital Asset (Switzerland) GmbH and/or its affiliates. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
#

version: 2.1

orbs:
  slack: circleci/slack@3.4.2

executors:
  daml-executor:
    docker:
      - image: cimg/openjdk:11.0-node
  mvn-executor:
    docker:
      - image: cimg/openjdk:11.0

commands:
  install_sdk:
    description: "Install Daml SDK"
    parameters:
      version:
        type: string
    steps:
      - run:
          name: Install Daml SDK
          command: |
            curl -sSL https://get.daml.com/ | sh /dev/stdin << parameters.version >>
            # idea from https://circleci.com/docs/2.0/env-vars/
            >> $BASH_ENV echo 'export PATH="$HOME/.daml/bin:$PATH"'
  install_python_dependencies:
    description: "Install Python Dependencies"
    steps:
      - run:
          name: Install pipenv
          command: |
            sudo apt-get update || sudo apt-get update
            sudo apt-get install python3-pip
            pip3 install pipenv
      - run:
          name: Install flake8
          command: |
            pip3 install flake8
  slack_notification:
    description: "Notify about failure on Slack"
    steps:
      - slack/status:
          fail_only: true
          only_for_branches: main
          webhook: '${SLACK_WEBHOOK}'

jobs:
  daml_test:
    parameters:
      daml_sdk_version:
        type: string
    executor: daml-executor
    steps:
      - checkout
      - restore_cache:
          keys:
            - daml-{{ checksum "daml.yaml" }}
      - install_sdk:
          version: << parameters.daml_sdk_version >>
      - run:
          name: Build Daml
          command: |
            make build-dars
      - run:
          name: Daml tests
          command: |
            make test-dars
      - save_cache:
          paths:
            - ~/.daml
          key: daml-{{ checksum "daml.yaml" }}
      - store_test_results:
          path: target/daml-test-reports
      - store_artifacts:
          path: target/daml-test-reports
      - slack_notification

  integration_test:
    parameters:
      daml_sdk_version:
        type: string
    executor: mvn-executor
    steps:
      - checkout
      - restore_cache:
          keys:
            - m2-{{ checksum "pom.xml" }}-{{ checksum "daml.yaml" }}
            - m2
      - install_sdk:
          version: << parameters.daml_sdk_version >>
      - install_python_dependencies
      - run:
          name: Python flake8
          command: |
            flake8 --max-line-length=120 $(find -name \*.py)
      - run:
          name: Pipenv check
          working_directory: scripts
          command: |
            pipenv check
      - run:
          name: Integration tests
          command: |
            make install-python-dependencies
            mvn verify
      - run:
          command: |
            echo "Moving log files so they can be stored."
            mkdir -p logs
            mv *.log logs
          when: always
      - store_artifacts:
          path: logs
      - save_cache:
          paths:
            - ~/.m2
            - ~/.daml
          key: m2-{{ checksum "pom.xml" }}-{{ checksum "daml.yaml" }}
      - store_test_results:
          path: target/failsafe-reports
      - store_artifacts:
          path: target/failsafe-reports
      - store_test_results:
          path: target/surefire-reports
      - store_artifacts:
          path: target/surefire-reports
      - run:
          command: |
            mkdir -p logs
            mv target/pmd.xml logs
          when: always
      - persist_to_workspace:
          root: target
          paths:
            - "*.jar"
            - "*.dar"
            - "lib"
            - "NOTICE"
      - slack_notification

  ui_test:
    parameters:
      daml_sdk_version:
        type: string
    executor: daml-executor
    steps:
      - checkout
      - restore_cache:
          keys:
            - daml-{{ checksum "daml.yaml" }}
      - install_sdk:
          version: << parameters.daml_sdk_version >>
      - install_python_dependencies
      - run:
          name: UI install dependencies
          command: |
            make build
      - run:
          name: UI build
          command: |
            make package
      - run:
          name: Yarn test
          command: |
            cd ui && yarn test -- --watchAll=false
      - save_cache:
          paths:
            - ~/.daml
          key: daml-{{ checksum "daml.yaml" }}
      - slack_notification

  blackduck_check:
    parameters:
      daml_sdk_version:
        type: string
    executor: daml-executor
    steps:
      - checkout
      - restore_cache:
          keys:
            - m2-{{ checksum "pom.xml" }}-{{ checksum "daml.yaml" }}
            - m2
      - install_python_dependencies
      - install_sdk:
          version: << parameters.daml_sdk_version >>
      - save_cache:
          paths:
            - ~/.m2
            - ~/.daml
          key: m2-{{ checksum "pom.xml" }}-{{ checksum "daml.yaml" }}
      - run:
          name: Install Python dependencies
          working_directory: scripts
          command: |
            pipenv install --ignore-pipfile
      - run:
          name: Maven build
          command: |
            mvn clean package
      - run:
          name: UI install dependencies
          command: |
            make build
      - run:
          name: Yarn recursive install
          command: |
            # recurse all directories with a package.json and run yarn install on them to resolve dependencies
            find . -type f \( ! -path '*node_modules*' \) -name package.json | while read hit ; do yarn install --cwd $(dirname "$hit") ; done
      - run:
          name: Blackduck detect
          command: |
            bash <(curl -s https://raw.githubusercontent.com/DACH-NY/security-blackduck/master/synopsys-detect) \
            ci-build digitalasset_ex-supply-chain main \
            --logging.level.com.synopsys.integration=DEBUG \
            --detect.python.path="$(which python3)" \
            --detect.pipenv.path="$(which pipenv)" \
            --detect.notices.report=true \
            --detect.timeout=3600
      - run:
          command: cp digitalasset_ex_supply_chain_main_Black_Duck_Notices_Report.txt NOTICE
      - persist_to_workspace:
          root: .
          paths:
            - "NOTICE"
      - slack_notification

workflows:
  version: 2
  test:
    jobs:
      - daml_test:
          daml_sdk_version: "1.16.0"
          context: refapps
      - integration_test:
          daml_sdk_version: "1.16.0"
          context: refapps
      - ui_test:
          daml_sdk_version: "1.16.0"
          context: refapps
      - blackduck_check:
          daml_sdk_version: "1.16.0"
          filters:
            branches:
              only:
                - /.*blackduck.*/
          context:
            - blackduck
            - refapps
  scheduled_test:
    triggers:
      - schedule:
          # need to scatter jobs to reduce Blackduck load
          # see also https://digitalasset.atlassian.net/browse/ERA-913
          cron: "0 7 * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - daml_test:
          daml_sdk_version: "1.16.0"
          context: refapps
      - integration_test:
          daml_sdk_version: "1.16.0"
          context: refapps
      - ui_test:
          daml_sdk_version: "1.16.0"
          context: refapps
      - blackduck_check:
          daml_sdk_version: "1.16.0"
          context:
            - blackduck
            - refapps
